.posts-main {
    border-collapse: separate;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    width: 75%;
    position: center;
}

.post-title {
    display: inline-block;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    width: inherit;
    position: center;
}

.post-content {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
    width: inherit;
    position: center;
}

.title {
    float: left;
}

.time {
    float: right;
}

h1 {
    position: center
}