<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-image: url("https://wallpaper-gallery.net/images/wallpaper-hd-abstract/wallpaper-hd-abstract-4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: "Helvetica Neue";
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <center>
            <h1>Successfully logged out</h1>
        </center>
    </div>
</body>
</html>